// Base
// ––––––––––––––––––––––––––––––––––––––––––––––––––
*,
*:after,
*:before {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 18px;
}

body {
    background-color: $background-color;
    font-family: 'Lora', sans-serif;
    color: $primary-font-color;
    font-size: 1em;
    font-weight: 300;
    margin: 0;
}

.page-wrapper {
    width: 100%;
    margin: 0 auto;
    background: white;
    position: relative;

    // TODO: Add a nice shaddow to the left and right
}

// The .container class lives inside the #page-wrapper. All content will live here.
.container {
    position: relative;
    padding-right: 7%;
    padding-left: 7%;
    margin-bottom: 20px;
    margin-right: auto;
    margin-left: auto;

    &.is-condensed {
        margin: 20px auto 20px;
        max-width: 92%;
    }
}

@media screen and (min-width: 1281px) {
    .page-wrapper {
        max-width: 1500px;
        width: 90%
    }

    .container {
        max-width: 1600px;

        &.is-fluid {
            margin: 0 20px;
            max-width: none;
            width: auto;
        }

        &.is-condensed {
            margin: 65px auto 65px;
            max-width: 675px;
        }
    }
}
