// Header
// ––––––––––––––––––––––––––––––––––––––––––––––––––

header {
    position: fixed;
    left: 0;
    right: 0;
    background-color: #fff;
    padding-top: 1% !important;
    padding-bottom: 1% !important;

    .header-content {
        text-align: center;

        &:before {
            content: " ";
            display: table;
        }

        &:after {
            clear: both;
            content: " ";
            display: table;
        }

        .title {
            display: inline-block;
            position: relative;
            z-index: 2;
            text-transform: uppercase;

            .title-link {
                font-size: 20px;
                margin: 0;
                font-family: 'Nunito', sans-serif;
                font-weight: 700;
                color: $secondary-font-color;
                text-decoration: none;

                &:hover {
                    color: $primary-font-color;
                }
            }

            &.active {
                display: none;
            }
        }

        .menu {
            text-align: right;

            ul {
                li {
                    display: inline-block;
                    margin: 0 15px;

                    &:last-child{
                        margin-right: 0;
                    }

                    a {
                        font-family: 'Nunito', sans-serif;
                        font-weight: 700;
                        text-transform: lowercase;
                        text-decoration: none;
                        color: $primary-font-color;

                        &:hover {
                            color: $secondary-font-color;
                        }
                    }
                }
            }
        }

        .nav-left {
            float: left;
        }

        .nav-right {
            display: none;
            float: right;

            .header-menu {
                display: inline-block;
                width: 30px;
                position: relative;
                z-index: 2;
                padding: 10px 5px;
                border: 0;
                background-color: transparent;
                cursor: pointer;
                margin-left: 30px;

                .header-menu-line {
                    height: 2px;
                    width: 100%;
                    background-color: $primary-font-color;
                    display: block;
                    transition: transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);

                    &:last-of-type {
                        margin-top: 6px;
                    }
                }

                &.active {
                    .header-menu-line {
                        transform: translateY(3px) rotate(45deg);
                        background: #fff;

                        &:last-of-type {
                            transform: translateY(-5px) rotate(-45deg);
                        }
                    }
                }
            }

            nav {
                display: block;

                ul {
                    list-style: none;

                    li {
                        display: inline-block;
                        margin-right: 2em;

                        a {
                            font-family: "Karla","Helvetica Neue",Helvetica,Arial,sans-serif;
                            text-transform: uppercase;
                            color: $color-nav-toggle;
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }
}

.overlay {
    opacity: 0;
    position: fixed;
    background: $color-nav-toggle;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.35s, visibility 0.35s, height 0.35s;
    overflow: hidden;

    &.open {
        opacity: 0.9;
        visibility: visible;
        height: 100%;

        li {
            animation: fadeInRight 0.5s ease forwards;
            animation-delay: 0.35s;

            &:nth-of-type(2) {
                animation-delay: 0.4s;
            }

            &:nth-of-type(3) {
                animation-delay: 0.45s;
            }

            &:nth-of-type(4) {
                animation-delay: 0.50s;
            }
        }
    }

    nav {
        position: relative;
        height: 70%;
        top: 50%;
        transform: translateY(-50%);
        font-size: 50px;
        font-family: 'Lora', serif;
        font-weight: 400;
        text-align: center;
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0 auto;
        display: inline-block;
        position: relative;
        height: 100%;

        li {
            display: block;
            height: 25%;
            height: calc(100% / 4);
            min-height: 50px;
            position: relative;
            opacity: 0;

            a {
                display: block;
                position: relative;
                color: #fff;
                text-decoration: none;
                overflow: hidden;

                &:active:after,
                &:focus:after,
                &:hover:after {
                    width: 100%;
                }

                &:after {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    width: 0;
                    transform: translateX(-50%);
                    height: 3px;
                    background: $background-color;
                    transition: 0.35s;
                }
            }
        }
    }
}
@keyframes fadeInRight {
    0% {
        opacity: 0;
        left: 20%;
    }

    100% {
        opacity: 1;
        left: 0;
    }
}
