// Header
// ––––––––––––––––––––––––––––––––––––––––––––––––––

header {
    background: #FFF;
    padding-top: 30px;
    padding-bottom: 40px;
    // TODO: Make the header fixed? Or Make a
}
