// Header
// ––––––––––––––––––––––––––––––––––––––––––––––––––

header {
    background: #FFF;
    padding-top: 10px;
    padding-bottom: 10px;

    // TODO: Make the header fixed? Or Make a

    .container {

    }
}
